[Desktop Entry]
Name=shuvscode
Comment=Opinionated code editor
Exec=/home/shuv/repos/shuvscode/shuvscode-linux-x64/bin/shuvscode %F
Icon=shuvscode
Type=Application
StartupNotify=false
StartupWMClass=shuvscode
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=shuvscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/home/shuv/repos/shuvscode/shuvscode-linux-x64/bin/shuvscode --new-window %F
Icon=shuvscode
